SYMBOL=BTC_USDT
TRADING_MODE=DEMO
MARKET_POLL_SECONDS=3
BOOTSTRAP_TRADES=1000
STARTING_USD=1000
ORDER_USD=50
FEE_RATE=0.001
STRATEGY_PROFILE=BALANCED
MIN_CONFIDENCE=65
ATR_STOP_MULT=1.5
REWARD_RISK=2
TRAILING_PCT=0.5
COOLDOWN_SECONDS=60
MAX_DAILY_LOSS_PCT=3
MAX_TRADES_PER_DAY=20
AUTO_DEMO=true
AUTO_FORWARD=true
LIVE_TRADING_ENABLED=false
